name: Q6 Action

on:
  workflow_dispatch:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: 23f3000196@ds.study.iitm.ac.in
        run: echo "Hello, world!"
